		<!-- Google Map section end -->

		<!-- Footer start -->

		<footer id="footer">

			<div class="container">

				<div class="row">

					<div class="col-md-12 text-center">
						<ul class="icons-widget-2" style="margin-left: -33px;">
							<li><a href="https://www.facebook.com/quinlanadvertising" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                                                        <li><a href="https://www.linkedin.com/company/quinlan-advertising" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
							<li><a href="https://soundcloud.com/tom-quinlan" target="_blank"><i class="fa fa-soundcloud fa-fw"></i></a></li>
						</ul>
						
						<p>
							<a href="mailto:tquinlan@quinlanadvertising.com?Subject=Quinlan%20Advertising%20Contact%20Message">tquinlan@QuinlanAdvertising.com</a>
						</p>
					</div>

				</div><!-- .row -->


			</div><!-- .container -->

		</footer>

		<!-- Footer end -->

	</div><!-- .wrapper -->